@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply rounded bg-gray-700 px-2 py-1 text-white font-medium hover:bg-gray-600;
  }

  .error {
    @apply flex justify-center text-red-600;
  }

  .form-primary {
    @apply bg-gray-200 border-2 border-gray-200 rounded px-2 focus:outline-none focus:border-cyan-500;
  }
  
  .form-second {
    @apply bg-gray-200 border-2 border-gray-200 rounded focus:outline-none focus:border-cyan-500;
  }

  .profile {
    @apply flex flex-row justify-between border-2 rounded-lg px-2 py-2 items-center w-full;
  }

  .card-primary{
    @apply w-3/4 h-1/6 bg-white rounded-lg grid grid-cols-4 border-2 border-slate-500;
  }
  
  .form-target{
    @apply appearance-none focus:outline-none bg-transparent font-medium text-2xl ml-2;
  }
}